.html, .body {
  height: 100%; }

body {
  margin: 0px; }

ul {
  margin: 0px;
  padding: 0px; }

ul li {
  list-style: none; }

.container {
  margin: 0 auto;
  width: 940px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  font-weight: normal; }

button {
  border: none;
  background: transparent;
  cursor: pointer; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.title {
  font-size: 72px; }
