@import url(../layout/normalize.css);
.html, .body {
  height: 100%; }

body {
  margin: 0px; }

ul {
  margin: 0px;
  padding: 0px; }

ul li {
  list-style: none; }

.container {
  margin: 0 auto;
  width: 940px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  font-weight: normal; }

button {
  border: none;
  background: transparent;
  cursor: pointer; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 500px; }

.title {
  font-family: 'Gagalin-Regular', Helvetica, sans-serif;
  font-size: 72px;
  color: #f9b43b;
  line-height: 1; }

.header {
  position: absolute;
  width: 100%;
  padding-top: 12px;
  z-index: 1;
  background: black; }

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__wrapper {
  margin-left: 15px; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__item {
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__item:after {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: 15px; }
  .nav__item:nth-last-child(2):after {
    display: none; }

.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase; }

.btn {
  padding: 12px 15px;
  background-color: #e45028;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 13px; }

.promo {
  background-image: url("./img/video-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 100vh; }

.promo__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.promo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
