.promo {
    background-image: url("../img/video-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 100vh;
}
.promo__container {
    height: 100%;
    display: flex;
}
.promo__content {
display: flex;
align-items: center;
}
.promo__title {
    
}